<div class="container">
  <h1 class="text-center mb-3 text-white">WRO csapat regisztráció</h1>
  <div class="transparent-card">
  <table class="table table-hover table-bordered">
      <tr class="text-center">
          <th>Csapatnév</th>
          <th>Kategória</th>
          <th>Csapatvezető neve</th>
          <th>Csap. vez. e-mail</th>
          <th>
            Műveletek
          </th>
      </tr>
      @for (reg of registrations; track $index) {
        <tr>

            <td>{{reg.teamName}}</td>
            <td>{{reg.gameCategory}}</td>
            <td>{{reg.player}}</td>
            <td>{{reg.email}}</td>
               <td class="action-icons">
                <button class="icon" (click)="modifyReg(reg)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                </button>
                <button class="icon delete" (click)="deleteReg(reg)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
            </td>
        </tr>
      }
  </table>
    <button (click)="newReg()" class="btn-primary">
      <span>Hozzáadás</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
    </button>

  </div>
</div>

<app-team [model]="modify" (saved)="saveModify($event)"></app-team>
<app-team [model]="new" (saved)="saveNew($event)"></app-team>
